<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<activeProfiles>
		<activeProfile>Devilry default</activeProfile>
	</activeProfiles>

	<profiles>
		<profile>
			<id>Devilry default</id>
			<properties>
				<glassfish.home>${env.HOME}/prog/glassfish</glassfish.home>
			</properties>
		</profile>
	</profiles>
</settings>
