<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Devilry web interface</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ShowAll</servlet-name>
		<servlet-class>org.devilry.webcli.ShowAll</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CreateTestData</servlet-name>
		<servlet-class>org.devilry.webcli.CreateTestData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Main</servlet-name>
		<jsp-file>/main.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Error</servlet-name>
		<jsp-file>/error.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreateTestData</servlet-name>
		<url-pattern>/CreateTestData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowAll</servlet-name>
		<url-pattern>/ShowAll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowAll</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/Main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Error</servlet-name>
		<url-pattern>/Error</url-pattern>
	</servlet-mapping>
</web-app>
